.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem;
  background-color: rgb(145, 145, 70);
}
.section {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}
.section label {
  font-weight: bold;
}
.section input,
.section textarea {
  padding: 0.5rem;
  background-color: #f0f0f0;
  font-size: 1.2rem;
}
.section button {
  margin-top: 1rem;
  border: 0px solid white;
  width: 6rem;
  height: 2rem;
  background-color: rgb(18, 131, 149);
  color: white;
}
.section button:hover {
  cursor: grabbing;
}
